<h1>Your Stories</h1>

<table>
<% @stories.each do |story| %>
  <tr>
    <td width="70%"><%= story.title %></td>
    <td><%= link_to 'Show', story %></td>
    <td><%= link_to 'Edit', edit_story_path(story) %></td>
    <td><%= link_to 'Destroy', story, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />
<p><%= link_to 'Create A New Story', new_story_path %></p>
