<!DOCTYPE html>
<html>
<head>
  <title>Bramble</title>
  <%= stylesheet_link_tag 'application', :media => 'all' %>
  <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div id="whole_page">
  <div id="comm">
    <div style="float:left;">
      <%= link_to "Home", index_url %>
      <% if current_user %>
        | <%= link_to "Stories", stories_url %>
      <% end %>
    </div>

    <div id="member_links">
      <% if current_user %>
        Signed in as <%= link_to current_user.email, my_path %>. Not You?
        <%= link_to "Sign Out", sign_out_path, :method => :delete %>
      <% else %>
        <%= link_to "Login", sign_in_path %> / <%= link_to "Register", sign_up_path %>
      <% end %>
    </div>

    <div class="clear"></div>

    <% flash.each do |name, msg| %>
      <hr/>
      <%= content_tag :div, msg, :class => "comm_message", :id => "flash_#{name}" %>
    <% end %>

    <div class="clear"></div>
  </div>
  <!--TODO: Add button styles, change the formatting for the top and bottom bars -->

  <br/>

  <div id="page">
    <%= yield %>
  </div>

  <br/>

  <div id="footer">
    <p style="margin:0px;font-size:10px;text-align:right;color:#888">Powered by Ruby on Rails</p>
  </div>
  </div>
</body>
</html>
